@using OnlineChat.ViewModels;
@model OnlineChat.ViewModels.CreateModel;
@{ }
@*<h2>Чаты</h2>
    <br />*@
@*@foreach (string chat in ViewBag.Chats)
    {
    <form asp-controller="Home" asp-action="Go">
        <div class="form-group notdisp">
            <label asp-for="Email" class="control-label">Название</label>
            <input asp-for="Email" class="form-control" value=@ViewBag.Email />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group notdisp">
            <label asp-for="Name" class="control-label">Название</label>
            <input asp-for="Name" class="form-control" value=@chat />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value=@chat class="btn btn-primary pink" />
        </div>
    </form>}
    @if (ViewBag.Error != null)
    {
    <div class="error" id="error">@ViewBag.Error</div>}
    @if (ViewBag.Admin)
    {
    <button class="btn btn-primary" id="create">Создать чат</button>
    <form id="modal" class="notdisp" asp-controller="Home" asp-action="Create">
        <div class="form-group notdisp">
            <label asp-for="Email" class="control-label">Название</label>
            <input asp-for="Email" class="form-control" value=@ViewBag.Email />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Создать" class="btn btn-primary" />
        </div>
    </form>
    <button class="btn btn-primary" type="button"  onclick="location.href='@Url.Action("AdminPanel", "Admin")'"  >Управление администраторами</button>
    }*@
@*<form class="logout" asp-controller="Account" asp-action="Logout">
        <div class="form-group">
            <input type="submit" value="Выйти" class="btn btn-primary" />
        </div>
    </form>*@
    <form method="post" enctype="multipart/form-data" asp-controller="LearningPrograms" asp-action="Edit">
        <label asp-for="File" class="control-label">Последовательность</label>
        <input type="file" asp-for="File" class="form-control"   />
        <a href="/LearningPrograms/GetBytes1">@ViewBag.PoslName</a>
        <label asp-for="File1" class="control-label">Обозначения</label>
        <input type="file" asp-for="File1" class="form-control"   />
        <a href="/LearningPrograms/GetBytes2">@ViewBag.DefName</a>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-primary pink" />
        </div>
    </form>


